/* HintPagination.css */
.hintParent {
  padding: 1rem;
  /* max-width: 400px;   wider for hints */
  margin: 0 auto;
  max-width: 100%;   /* 👈 prevents exceeding parent width */
}

.hintChild {
  min-height: 50px;
  margin-bottom: 1rem;
}
